<!doctype html>
<html lang="fr" ng-app>
<head>
<meta charset="UTF-8" />
<title>Exercice 5</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<button ng-click="showme=true">off</button>
<button ng-click="showme=false">on</button>

  <div>
    <p ng-hide="showme">Bien sûr, dit le renard.<br> Tu n'es encore pour moi qu'un petit garçon tout semblable à mille petits garçons. <br> Et je n'ai pas besoin de toi. Et tu n'as pas besoin de moi non plus.<br>Je ne suis pour toi qu'un renard semblable à cent mille renards.<br> Mais, si tu m'apprivoises, nous aurons besoin l'un de l'autre. Tu seras pour moi unique au monde.<br> Je serai pour toi unique au monde"</p>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</body>
</html>
