<!doctype html>
<html lang="fr" ng-app="">
<head>
  <meta charset="UTF-8" />
  <title>Exercice 1</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>


  <button ng-click="count = count + 1" ng-init="count=0">+</button>
  <button ng-click="count = count - 1" ng-init="count=0">-</button>
  <p>Bien sûr, dit le renard. Tu n'es encore pour moi qu'un petit garçon tout semblable à {{count}} mille petits garçons. Et je n'ai pas besoin de toi. Et tu n'as pas besoin de moi non plus. Je ne suis pour toi qu'un renard semblable à cent mille renards. Mais, si tu m'apprivoises, nous aurons besoin l'un de l'autre. Tu seras pour moi unique au monde. Je serai pour toi unique au monde"</p>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
